[**@formml/core**](../README.md) • **Docs**

---

[@formml/core](../globals.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult**: `object` \| `object`

## Defined in

[validator/validate.ts:10](https://github.com/formml/formml/blob/5c707903361ee929472a81de07fd0204242687ee/packages/core/src/validator/validate.ts#L10)
