[**@formml/core**](../README.md) • **Docs**

---

[@formml/core](../globals.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult**: `object` \| `object`

## Defined in

[validator/validate.ts:10](https://github.com/formml/formml/blob/527c6e93502cf5114979de3946b0cc8cf0790b3f/packages/core/src/validator/validate.ts#L10)
