[**@formml/core**](../README.md) • **Docs**

---

[@formml/core](../globals.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult**: `object` \| `object`

## Defined in

[validator/validate.ts:10](https://github.com/formml/formml/blob/fed46848d8032d8aeab7f7fad75fbc02dc65656a/packages/core/src/validator/validate.ts#L10)
