[**@formml/core**](../README.md) • **Docs**

---

[@formml/core](../globals.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult**: `object` \| `object`

## Defined in

[validator/validate.ts:10](https://github.com/formml/formml/blob/6aacaa756f672e3d18c3bdf35091d08edefd594c/packages/core/src/validator/validate.ts#L10)
