[**@formml/core**](../README.md) • **Docs**

---

[@formml/core](../globals.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult**: `object` \| `object`

## Defined in

[validator/validate.ts:10](https://github.com/formml/formml/blob/72da07b448131bd3f04929d1b1f639a533f113d9/packages/core/src/validator/validate.ts#L10)
